.table {
    width: 100%;
    height: 30vh;
    margin-bottom: 1rem;
    background-color: #fff;
    border-collapse: collapse;
}

.table td,
.table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #6f42c1;
  color: #333; /* Màu chữ */
  font-size: 14px; /* Kích thước chữ */
  font-weight: 400; /* Độ đậm chữ */
  text-align: center; /* Canh giữa chữ */
  vertical-align: middle;
  padding: 10px 0;
}

.table th {
    font-weight: bold; /* In đậm chữ trong các thẻ <th> */
  }
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #6f42c1;
    background-color: #b69be9;
}

.table tbody + tbody {
    border-top: 2px solid #5a3e8f;
}
