.parking-container {
  position: relative;
  height: 100%;
  width: 100%;
  .parking-space-list {
    position: absolute;
    width: 700px;
    height: 500px;
    left: calc(50% - 350px);
    top: calc(50% - 250px);
    transform: rotate(-50deg, -50deg);
    border-radius: 8px;
    border: 1px solid black;
    background-color: white;
  }
}
